[submodule "src/themes/introduction"]
	path = src/themes/introduction
	url = https://github.com/victoriadrake/hugo-theme-introduction.git
[submodule "src/gruvhugo"]
	path = src/gruvhugo
	url = https://gitlab.com/avron/gruvhugo.git
[submodule "src/themes/gruvhugo"]
	path = src/themes/gruvhugo
	url = https://gitlab.com/avron/gruvhugo.git
